<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <!-- <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span> -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-4">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link active" href="/portfolio/classes">Classes</a>
                <a class="nav-link active" href="https://www.youtube.com/channel/UCelwS_IHESHsvhC2-gGEtrw/about?" target="_blank">YouTube</a>
                <a class="nav-link active" href="/portfolio/contact">Contact Me</a>
            </div>
        </div>
        </div>
    </nav>