<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Home Page</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <!-- <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span> -->
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-4">
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                <a class="nav-link active" href="classes.html">Classes</a>
                <a class="nav-link active" href="#">YouTube</a>
                <a class="nav-link active" href="#">Contact Me</a>
            </div>
        </div>
        </div>
    </nav>
    <section class="bg-secondary p-4">
        <!-- Intro -->
        <div class="container text-white d-flex justify-content-between border border-light mb-5">
            <h2 class="m-5">Welcome to my Webpage.<br>I'm Jonathan Rivera.</h2>
            <img src="../Public/images/Profile Picture.jpg" class="m-5" alt="Face Profile" style="width:30%">
        </div>
        <!-- Intro -->
        <!-- Projects -->
        <div class="container mt-5 mb-5">
            <h2 style="color:white;">Projects</h2>
            <div class="d-flex flex-wrap justify-content-evenly">
                <div class="col m-2">
                    <div class="card text-white bg-secondary" style="width: 18rem; height: 36rem;">
                        <img src="../Public/images/GitHub-Logo.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Python HTTP Server</h5>
                            <p class="card-text">Built a https server in python3 library using only sys, os and socket libraries</p>
                            <a href="#" class="btn btn-primary">See Code</a>
                        </div>
                    </div>
                </div>
                <div class="col m-2">
                    <div class="card text-white bg-secondary" style="width: 18rem; height: 36rem;">
                        <img src="../Public/images/GitHub-Logo.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">e-Portfolio</h5>
                            <p class="card-text">It's this website. I developed this website from scratch using HTML, CSS and JavaScript. I host this website on Github so this whole website is on a git repository. I use Visual Studio and git to edit this website.</p>
                            <a href="#" class="btn btn-primary">See Code</a>
                        </div>
                    </div>
                </div>
                <div class="col m-2">
                    <div class="card text-white bg-secondary" style="width: 18rem; height: 36rem;">
                        <img src="../Public/images/GitHub-Logo.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Toolify</h5>
                            <p class="card-text">Developed at BeachHacks, CSULB Hackathon competition. Used python, Android Studio, Git and React. If you would like to review the code you can click on the link below.</p>
                            <a href="#" class="btn btn-primary">See Code</a>
                        </div>
                    </div>
                </div>
                <div class="col m-2">
                    <div class="card text-white bg-secondary" style="width: 18rem; height: 36rem;">
                        <img src="../Public/images/GitHub-Logo.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">ACM</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project -->
        <!-- Skills -->
        <section class="container d-flex flex-wrap justify-content-evenly text-white mt-5 mb-5">
            <div class="barGraph" style="width: 40%;">
                <h4 class="mb-2">Programming Languages</h4>
                <div class="progress mt-2">
                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">Python</div>
                </div>
                <div class="progress mt-2">
                    <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">C/C++</div>
                </div>
                <div class="progress mt-2">
                    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">JavaScript</div>
                </div>
                <div class="progress mt-2">
                    <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">Java</div>
                </div>
            </div>
            <div class="barGraph" style="width: 40%;">
                <h4 class="mb-2">Web Technologies</h4>
                <div class="progress mt-2">
                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">HTML/EJS</div>
                </div>
                <div class="progress mt-2">
                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">CSS</div>
                </div>
                <div class="progress mt-2">
                    <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">NodeJS</div>
                </div>
                <div class="progress mt-2">
                    <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">MongoDb</div>
                </div>
            </div>
            <div class="barGraph m-3" style="width: 40%;">
                <h4 class="mb-2">Other Technologies</h4>
                <div class="progress mt-2">
                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">Windows</div>
                </div>
                <div class="progress mt-2">
                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">Linux</div>
                </div>
                <div class="progress mt-2">
                    <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">Git</div>
                </div>
            </div>
        </section>
        <!-- Skills -->
    </section>
    <!-- Footer -->
    <footer class="bg-dark text-center text-lg-start" style="color: white;">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <!-- <h5 class="text-uppercase">Footer Content</h5> -->
                    <p>
                        This website was designed and developed by Jonathan Rivera.<br>Powered by Github
                    </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Social Media</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="https://www.linkedin.com/in/jonathan24rivera/" class="text-light">LinkedIn</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/jonathan.riveramerlos/" class="text-light">Facebook</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/GoldCode_yt" class="text-light">Twitter</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/johny24rivera/" class="text-light">Instagram</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-0">Links</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-light">Classes</a>
                        </li>
                        <li>
                            <a href="#!" class="text-light">Projects</a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCelwS_IHESHsvhC2-gGEtrw" class="text-light">YouTube</a>
                        </li>
                        <li>
                            <a href="#!" class="text-light">Contact Me</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2020 Copyright:
            <a class="text-light" href="https://mdbootstrap.com/">Jonathan Rivera</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

</body>

</html>