<%- include ("../includes/header.ejs") %>
<%- include ("../includes/navbar.ejs") %>

<section class="bg-secondary p-5">
        <!-- Table -->
        <div class="container-xlg">
            <table class="table table-dark table-bordered table-striped mb-5">
                <thead>
                    <tr>
                        <th colspan="3">Completed Classes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Class Code</td>
                        <td>Class Title</td>
                        <td>Grade</td>
                    </tr>
                    <tr>
                        <td>CS 213</td>
                        <td>Web Engineering I</td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>CS 235</td>
                        <td>Data Scructures</td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>CS 237</td>
                        <td>Discrete Mathematics</td>
                        <td>B</td>
                    </tr>
                    <tr>
                        <td>CS 246</td>
                        <td>Software Design and Development</td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>CS 308</td>
                        <td>Technical Communication</td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>CSE 354</td>
                        <td>Computer Networks</td>
                        <td>B</td>
                    </tr>
                    <tr>
                        <td>CSE 380</td>
                        <td>Discrete Mathematics II</td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>CSE 381</td>
                        <td>Algorithms and Complexity</td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>CS 364</td>
                        <td>Software Engineering</td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>ECEN 260</td>
                        <td>Microproccesor-Based Systems</td>
                        <td>B</td>
                    </tr>
                    <tr>
                        <td>ECEN 324</td>
                        <td>Computer Archicture</td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>ECEN 361</td>
                        <td>Embedded Systems</td>
                        <td>B</td>
                    </tr>
                    <tr>
                        <td>ENG 301</td>
                        <td>Advanced Writing and Research</td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>MATH 330</td>
                        <td>Engineering Statistics</td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>MATH 341</td>
                        <td>Linear Algebra</td>
                        <td>A</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- table -->
        <!-- table -->
        <div class="container-xlg">
            <table class="table table-dark table-bordered table-striped">
                <thead>
                    <tr>
                        <th colspan="3">Currently Taking</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>CSE 450</td>
                        <td>Machine Learning and Data Mining</td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>CS 345</td>
                        <td>Operating Systems</td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>CS 416</td>
                        <td>Software Engineering II</td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>CSE 341</td>
                        <td>Web Backend Development II</td>
                        <td>A</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Table -->
    </section>

<%- include ("../includes/footer.ejs") %>